<div id="<%= dom_id project %>" class="bg-white">
  <p class="my-5">
    <strong class="m-5 block text-2xl font-semibold text-gray-800 mb-2"><%= project.title %></strong>
  </p>
  <div class="flex flex-row">
    <div class="basis-2/4">
      <p class="bg-fitibg p-5 m-5 rounded">
        <strong class="block text-lg font-semibold text-gray-800 mb-2">Description:</strong>
        <span class="text-gray-600"><%= project.description %></span>
      </p>

      <p class="bg-fitibg p-5 m-5 rounded">
        <strong class="block text-lg font-semibold text-gray-800 mb-2">Project lead:</strong>
        <span class="text-gray-600"><%= project.project_lead %></span>
      </p>

      <p class="bg-fitibg p-5 m-5 rounded">
        <strong class="block text-lg font-semibold text-gray-800 mb-2">Todo list:</strong>
        <span class="text-gray-600"><%= project.todo_list %></span>
      </p>

      <p class="bg-fitibg p-5 m-5 rounded">
        <strong class="block text-lg font-semibold text-gray-800 mb-2">Participants:</strong>
        <span class="text-gray-600"><%= project.participants %></span>
      </p>

      <div class="bg-fitibg p-5 m-5 rounded">
        <p>
          <strong class="block text-lg font-semibold text-gray-800 mb-2">Document storage:</strong>
          <span class="text-gray-600"><%= project.document_storage %></span>
        </p>

  

        <div class="flex items-center justify-center w-full">
          <label for="dropzone-file" class="flex flex-col items-center justify-center m-5 h-64 w-full border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
            <div class="flex flex-col items-center justify-center pt-5 pb-6">
              <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
              </svg>
              <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
              <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
            </div>
            <input id="dropzone-file" type="file" class="hidden" />
          </label>
        </div>
      </div>
    </div>

    <div class="basis-1/4">
      <!-- ToDo List -->
      <div class="bg-fitibg p-5 m-5 rounded">
        <div class="px-4 py-2">
          <h1 class="text-gray-800 font-bold text-2xl">To-Do List</h1>
        </div>
        <form class="w-full max-w-sm mx-auto px-4 py-2">
          <div class="flex items-center border-b-2 border-fitiprimary py-2">
            <input class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" placeholder="Add a task">
            <button class="flex-shrink-0 bg-fitiprimary hover:bg-teal-700 border-fitiprimary hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded" type="button">
              Add
            </button>
          </div>
        </form>
        <ul class="divide-y divide-gray-100 px-4">
          <li class="py-4">
            <div class="flex items-center">
              <input id="todo1" name="todo1" type="checkbox" class="h-4 w-4 text-teal-600 focus:ring-teal-500 border-gray-300 rounded">
              <label for="todo1" class="ml-3 block text-gray-900">
                <span class="text-lg font-medium">Finish project proposal</span>
                <span class="text-sm font-light text-gray-500">Due on 4/1/23</span>
              </label>
            </div>
          </li>
          <li class="py-4">
            <div class="flex items-center">
              <input id="todo2" name="todo2" type="checkbox" class="h-4 w-4 text-teal-600 focus:ring-teal-500 border-gray-300 rounded">
              <label for="todo2" class="ml-3 block text-gray-900">
                <span class="text-lg font-medium">Buy groceries</span>
                <span class="text-sm font-light text-gray-500">Bananas, milk, bread</span>
              </label>
            </div>
          </li>
          <li class="py-4">
            <div class="flex items-center">
              <input id="todo3" name="todo3" type="checkbox" class="h-4 w-4 text-teal-600 focus:ring-teal-500 border-gray-300 rounded">
              <label for="todo3" class="ml-3 block text-gray-900">
                <span class="text-lg font-medium">Go for a run</span>
                <span class="text-sm font-light text-gray-500">3 miles</span>
              </label>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
