<div class="w-full my-10">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <div class="mb-10">
    <%= link_to "Edit this project", edit_project_path(@project), class: " text-white mt-2 rounded-lg py-3 px-5 bg-stone-700 inline-block font-medium" %>
    <%= link_to "Back to projects", projects_path, class: "text-white ml-2 rounded-lg py-3 px-5 bg-stone-700 inline-block font-medium" %>
    <div class="inline-block ml-2">
    <%= button_to "Delete this project", @project, method: :delete, class: "mt-2 rounded-lg py-3 px-5 text-white bg-fitiprimary font-medium" %>
    </div>
    </div>

    <%= render @project %>


  </div>
</div>
